.main-header {
	height: 105px;
	background: white;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 7px rgba(0,0,0, 0.4);
	width: 100%;
	@include media($bp-small) {
		height: 85px;
    }
}

.main-header {
	.main-wrapper {
		@include display(flex);
		@include align-items(center);
		h1 {
			text-transform: uppercase;
			margin: 0;
			margin-top: 10px;
			font-size: modular-scale(0, 0.9rem); 
			line-height: modular-scale(0); 
		}
	}
}

.main-logo {
	max-height: 85px;
	width: auto;
	margin-right: 15px;
	margin-top: 12px;
	@include media($bp-small) {
		max-height: 60px;
    }
}