// COLORS
.colors__holder {
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	@include media($bp-small) {
		@include flex-direction(column);
    }
}

.color-container {
	padding-bottom: 25px;
	@include media($bp-small) {
		@include flex-direction(column);
    }
}

.color-container,
.secondary-colors {
	padding-top: 25px;	
	@include display(flex);
	@include flex-wrap(wrap);
	// @include justify-content(space-between);
}

.single-color {
	margin-right: 25px;
	margin-bottom: 25px;
	@include display(flex);
	@include flex-wrap(wrap);
}

.single-scolor {
	margin-right: 25px;
	@include display(flex);
	@include flex-direction(column);
	.scolors__column {
		height: 100px;
		width: 100px;
		margin: 0;
	}
}

.colors__column-3 {
	width: 193px;
	height: 294px;
	margin: 0;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include media($bp-small) {
		margin: 10px;
    }
}

.colors__column-4 {
	width: 150px;
	height: 150px;
	margin: 0;
	position: relative;
	@include media($bp-small) {
		margin: 10px;
    }
    figcaption {
    }
}

.colors figcaption {
	h3.colors__pms {
		padding-bottom: 25px;
	}
	h3.colors__hex {
		padding-top: 25px;
	}
}

.colors__column-3--first {
	background-color: $color-column-one;
}

.colors__column-3-second {
	background-color: $color-column-two;
}

.colors__column-3-third {
	background-color: $color-column-three;
}