#menu-toggle {
	position: fixed;
	width: 20px;
	height: 20px;
	top: 30px; 
	right: 20px;
	z-index: 9999999999999;
	// background-color: black;
	@include media($bp-large) {
		display: none;
    }
    i {
    	color: black;
    	font-size: modular-scale(1);
    	width: 50px;
    	height: 50px;
    	position: relative;
    	z-index: 999;
    }
}

#nav-mobile {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.95);
	z-index: 99999999999999;
	padding: 20px;
	display: none;
	@include media($bp-small) {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		text-align: center;
		display: none;
    }
	ul {
		list-style-type: none;
		padding: 0;
		margin-top: 80px;
		font-size: modular-scale(1);
		line-height: modular-scale(1);
		li {
			padding: 10px 0;
			a {
				color: $white;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
}

#menu-toggle.toggle-select {
	i {
		color: white;
	}
}